<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>agl</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>auth.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pack.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterEmp</display-name>
    <servlet-name>AjouterEmp</servlet-name>
    <servlet-class>pack.AjouterEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterEmp</servlet-name>
    <url-pattern>/AjouterEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>pack.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOuvrage</display-name>
    <servlet-name>AddOuvrage</servlet-name>
    <servlet-class>pack.AddOuvrage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOuvrage</servlet-name>
    <url-pattern>/AddOuvrage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>pack.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierEmp</display-name>
    <servlet-name>ModifierEmp</servlet-name>
    <servlet-class>pack.ModifierEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierEmp</servlet-name>
    <url-pattern>/ModifierEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeEtudiantsServlet</display-name>
    <servlet-name>ListeEtudiantsServlet</servlet-name>
    <servlet-class>pack.ListeEtudiantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeEtudiantsServlet</servlet-name>
    <url-pattern>/ListeEtudiantsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterOuvrage</display-name>
    <servlet-name>AjouterOuvrage</servlet-name>
    <servlet-class>pack.AjouterOuvrage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterOuvrage</servlet-name>
    <url-pattern>/ajouterOuvrage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmprunterOuvrage</display-name>
    <servlet-name>EmprunterOuvrage</servlet-name>
    <servlet-class>pack.EmprunterOuvrage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmprunterOuvrage</servlet-name>
    <url-pattern>/EmprunterOuvrage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoirLivresEmpruntes</display-name>
    <servlet-name>VoirLivresEmpruntes</servlet-name>
    <servlet-class>pack.VoirLivresEmpruntes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirLivresEmpruntes</servlet-name>
    <url-pattern>/VoirLivresEmpruntes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Imprimer</display-name>
    <servlet-name>Imprimer</servlet-name>
    <servlet-class>pack.Imprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imprimer</servlet-name>
    <url-pattern>/Imprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProlongerServlet</display-name>
    <servlet-name>ProlongerServlet</servlet-name>
    <servlet-class>pack.ProlongerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProlongerServlet</servlet-name>
    <url-pattern>/ProlongerServlet</url-pattern>
  </servlet-mapping>
</web-app>